<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        version     = "1.0.0"
        versionCode = "10" >

    <!-- versionCode is optional and Android only -->

    <preference name="phonegap-version" value="3.1.0" />

    <name>Bus Rush App</name>

    <description>
        Your next bus from Zürich Seerose to Bürkliplatz is departing in...
    </description>

    <author href="http://renatohotz.ch" email="renato.hotz@gmail.com">
        Renato Hotz
    </author>

    <!-- Include the native browser plugin -->
    <gap:plugin name="org.apache.cordova.InAppBrowser" />
</widget>